{% extends "layout.html" %} {% block content %}
<h3>{{ user.first_name }}'s Locations</h3>
<h4 class="current_city">{{user.current_city}}<h4>
 <div class="col-sm-offset-2 col-sm-10">
        <a href= "/users/:userId/add">
        <button type="submit" class="btn btn-primary">Add</button>
        </a>
    </div>
    <hr>
<ul class="list-unstyled">
    <!-- PLACEHOLDER LIST OF PAGES -->
    {% for location in locations %}
    <li>
        <a href="/location/{{location.id}}">{{ location.city }}</a>
        <!-- THIS WILL DIRECT TO SPECIFIC LOCATION PAGE -->
    </li>
    {% endfor %}
</ul>
{% endblock %}
