body {
	padding: 20px;
	margin-right: 20px;
	margin-left: 20px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.footer {
	position: relative;
	bottom: 0;
	margin-top: 20px;
	width: 100%;
	background-color: #B4CDCD;
	height: 60px;
	clear: both;
}


.login, .navigation{
	display: flex;
	justify-content: space-between;
	/*margin-bottom: 50px;
*/	background-color:  #B4CDCD; /*#779999; #D1EEEE;*/
	padding: 20px;
}



.login-item, .navbar-item {
	display: inline-block;
}

.login-btn {
	width: 75px;
  opacity: 0.8;
  margin-left: 5px;
}

.logo {
  font-size: 50px;
	margin-top: 9px;
  font-family: 'Pacifico', cursive;
  -webkit-text-stroke-width: 0.9px;
   -webkit-text-stroke-color: white;
}

.icon {
  -webkit-text-stroke-width: 0.9px;
   -webkit-text-stroke-color: white;
   font-size: 50px;
   margin-top: 8px
}

.createaccount {
	display: flex;
	flex-direction: row-reverse;
	margin: 3%;
  opacity: 1;
  height: 500px;
}

.createaccount-item {
	width: 50%;
}

.text {
	color: white;
}

.create-header {
	text-align: center;

}

.form-control {
	margin: 5px;
}

.logout-button, .notifications-btn {
	margin-top: 8px;
  margin-left: 3px;
  background-color:  #B4CDCD;
  color: white;
  border-color: #B4CDCD;
}

#earth {
  position: relative;
  width: 100%;
  height: 100%;
  /*margin: 3em auto;*/
  background: url('earthmap3.png') 0 0;
 /* border-radius: 50%;*/
  background-size: 630px;
  animation: rotate 20s linear infinite;
  transition: transform 200ms linear;
  transform-style: preserve-3d;
  box-shadow: inset 20px 0 80px 6px rgba(0, 0, 0, 1);
  color: #000;
  opacity: 0.8;
}

#earth:after {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  /*border-radius: 100%;*/
  box-shadow: -80px 15px 80px 10px rgba(0,0,0,.9) inset;
}

#earth:before {
  position: absolute;
  /*border-radius: 50%;*/
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
  background: radial-gradient(circle at 100px 100px, #fff, #000);
}

@keyframes rotate {
  0% {background-position: 0 0;}
  100% {background-position: 830px 0;}
}




.pin {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px solid black;
  background-color: red;
 
  
};


/*.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: red;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  background-color: blue;

}*/



.photos-container {
  display: flex;
  border: 1px solid black;
}


.photo-item {
  height: 19.2%;
  width: 19.2%;
}


 .next-btn {
  color: white;
  background-color: black;
  opacity: 0.8;
  border: none;
}

 .prev-btn {
  color: white;
  background-color: black;
  opacity: 0.8;
  border: none;
}

.yellow-stars {
  color: #FFD700;
  font-size: 20px;
}

.grey-stars {
  color: lightgrey;
  font-size: 20px;
}

.accomadation, .activity, .restaurant {
  display: flex;
  border: 1px solid black;
  margin: 10px;
}

.left {
  width: 25%;
}

.right {
  width: 75%;
  height: 100px;
  background-color: /*#d7ecff*/ aliceblue;
}

.comments {
  text-align: left;
  margin-top: 25px;
  margin-left: 15px;
}

.upload-photos {
  margin-top: 20px;
  margin-bottom: 10px;
}

.profilepic {
    height: 120px;
    width: 120px;
    border: 3px solid black;
}

.profile-header {
  display: flex;
  justify-content: center;
  height: 120px;
  background-color: aliceblue
}

.profile-container {
  width: 120px;
  height: 120px;
}

.user-info {
  margin-left: 500px;
  margin-top: 30px;
  display: flex;
}

.addbuddy-btn {
  width: 90px;
  height: 40px;
  font-size: 10px;
  margin-left: 6px;
  background-color: #e5e84c;
  border-color: black;
  font-weight: bolder;
}

.user-details {
  margin-left: 5px;
}


.black {
  border: 1px solid black;
}

.map {
  width: 600px;
  height: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.label {
  margin-left: 10px;
}

.yellow-star {
  color: #FFD700;
  font-size: 15px;
  -webkit-text-stroke-width: 0.9px;
   -webkit-text-stroke-color: black;

}

.buddy-noti, .photo-noti {
  border: 1px solid black;
  padding: 10px;
  width: 300px;
  margin-left: 800px;
  background-color: aliceblue;

}

.noti-name {
  font-weight: bold;
  color: #2F4F4F;
}

.accept-btn {
  height: 20px;
  width: 40px;
  font-size: 10px;
  padding: 2px;
}

.overall-review{
  width: 600px;
  margin-left: auto;
  margin-right: auto;

}

p, h2, .location-name {
  font-family: 'Lato', sans-serif;
}

p {
  font-size: 16px;
}

.user-result {
  display: flex;
  margin: 20px;
}

.pic-search-result {
  height: 100px;
  border: 1px solid black;
  width: 100px;
}

.search-name {
  margin-left: 10px;
  width: 200px;
}

#notis {
  margin-left: 20px;

}